@model AnnualLeaveScheduleV1.ViewModels.VoucherViewModel
@{
    //Layout = null;
    ViewBag.Title = "Index";
}

@*STYLING PAGE*@
<style>
    fieldset {
        border: 1px solid gray;
        border-top: 1px solid black;
    }

    h2 {
        font-family: 'Microsoft JhengHei UI';
    }

    #ac8032-whole-vcher {
        font-family: 'Microsoft JhengHei';
        border: 1px solid black;
        z-index: 0;
    }

    .form-inline {
        align-items: center;
    }

        .form-inline .form-control {
            width: 100%;
        }

    div#ac8032-vh {
        border-top-left-radius: 8.5px;
        border-top-right-radius: 8.5px;
        /*background:url();*/
        background-color: antiquewhite; /**/
        border: 1.5px solid #f2c993; /*E1D3C1*/
        padding: 1px 4px 4px 4px;
    }

        div#ac8032-vh .form-group.left-col {
            padding-left: 15px;
            padding-right: 1px;
        }

        div#ac8032-vh .form-group.middle-col {
            padding-left: 1px;
            padding-right: 1px;
        }

        div#ac8032-vh .form-group.right-col {
            padding-left: 1px;
            padding-right: 15px;
        }

    div#ac8032-temp-input {
        border-radius: 0px;
        /*background:url();*/
        background-color: green;
        padding: 1px 4px 4px 4px;
    }

    div#ac8032-vb {
        border-radius: 0px;
        background-color: #bfffbf; /*;*/
        padding: 1px 4px 4px 4px;
        border: 1.5px solid;
        border-color: #bfffbf; /*E1D3C1*/
    }

        div#ac8032-vb .form-inline {
            padding-left: 15px;
        }

        div#ac8032-vb .field-acid, div#ac8032-vb .lb-field-acid {
            width: 56px;
        }   

        div#ac8032-vb .field-acidname, div#ac8032-vb .lb-field-acidname {
            width: 96px;
        }

        div#ac8032-vb .field-sbid, div#ac8032-vb .lb-field-sbid {
            width: 24px;
        }

        div#ac8032-vb .field-sbidname, div#ac8032-vb .lb-field-sbidname {
            width: 96px;
        }

        div#ac8032-vb .field-sqno, div#ac8032-vb .lb-field-sqno {
            width: 24px;
        }

        div#ac8032-vb .field-itid, div#ac8032-vb .lb-field-itid {
            width: 96px;
        }

        div#ac8032-vb .field-itidname, div#ac8032-vb .lb-field-itidname {
            width: 56px;
        }

        div#ac8032-vb .field-note, div#ac8032-vb .lb-field-note {
            width: 282px;
        }

        div#ac8032-vb .field-damt, div#ac8032-vb .lb-field-damt {
            width: 180px;
        }

        div#ac8032-vb .field-camt, div#ac8032-vb .lb-field-camt {
            width: 180px;
        }


    div#ac8032-bj {
        border-radius: 0px;
        background-color: #d4eaff; /*#ffe1ff; antiquewhite;*/
        padding: 1px 4px 4px 4px;
        border: 0px solid;
        /*border-color:; /*dodgerblueE1D3C1 ffe1ff*/
    }

        div#ac8032-bj .form-inline {
            padding-left: 15px;
        }

        div#ac8032-bj .field-pjid, div#ac8032-bj .lb-field-pjid {
            width: 101px;
        }

        div#ac8032-bj .field-pjsq, div#ac8032-bj .lb-field-pjsq {
            width: 54px;
        }

        div#ac8032-bj .field-damt, div#ac8032-bj .lb-field-damt {
            width: 101px;
        }

        div#ac8032-bj .field-camt, div#ac8032-bj .lb-field-camt {
            width: 101px;
        }

        div#ac8032-bj .field-ivam, div#ac8032-bj .lb-field-ivam {
            width: 101px;
        }

        div#ac8032-bj .field-ivid, div#ac8032-bj .lb-field-ivid {
            width: 101px;
        }

    div#act {
        text-align:right;
    }
</style>

@*HTML BODY*@
<h2>傳票輸入(新增傳票檔)</h2>
@using (Html.BeginForm("Create", "Voucher", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="ac8032">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div id="ac8032-whole-vcher">
            @*voucher Head*@
            <div id="ac8032-vh">
                <div class="row">

                    <div class="form-inline">
                        <div class="form-group col-md-3 left-col">
                            <label for="DATE" class="">日期</label>
                            <input type="text" name="DATE" class="form-control" id="DATE" placeholder="日期">
                            @Html.ValidationMessageFor(model => model.DATE, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6 form-group middle-col">
                            <label for="SBID">性質2</label>
                            <div class="form-inline">
                                <input type="text" name="SBID" class="form-control" id="SBID" placeholder="性質">
                                <input type="text" name="SBID-chName" id="SBID-chName" value="" class="form-control" disabled />
                            </div>
                            @Html.ValidationMessageFor(model => model.SBID, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-3 right-col">
                            <label>支票號碼</label>
                            <input type="text" name="CKID" class="form-control" id="CKID" placeholder="支票號碼">
                            @Html.ValidationMessageFor(model => model.CKID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-inline">
                        <div class="form-group col-md-3 left-col">
                            <label for="TPID" class="">傳票</label>
                            <input type="text" name="TPID" class="form-control" id="TPID" placeholder="傳票">
                            @Html.ValidationMessageFor(model => model.TPID, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6 form-group middle-col">
                            <label for="NOTE">收(付)款人</label>
                            <input type="text" name="NOTE" class="form-control" id="NOTE" placeholder="性質">
                            @Html.ValidationMessageFor(model => model.NOTE, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-3 right-col">
                            <label class="">金額</label>
                            <input type="text" name="CKAM" class="form-control" id="CKAM" placeholder="支票號碼">
                            @Html.ValidationMessageFor(model => model.CKAM, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-inline">
                        <div class="form-group col-md-3 left-col">
                            <label class="">號碼</label>
                            @Html.EditorFor(model => model.SQID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SQID, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-3 middle-col">
                            <label class="">類別</label>
                            @Html.EditorFor(model => model.JSKD, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.JSKD, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-3 middle-col">
                            <label class="">非工程發票類別</label>
                            @Html.EditorFor(model => model.NIKD, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NIKD, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-3 right-col">
                            <label class="">支票</label>
                            @Html.EditorFor(model => model.NIKD, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NIKD, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            @*暫且輸入面板(待移除)*@
            <div id="ac8032-temp-input" hidden>
                <div class="row">
                    <div class="form-inline">
                        <div class="form-group col-md-3">
                            <label for="ACID" class="">ACID</label>
                            <input type="text" name="ACID" class="form-control" id="ACID" placeholder="日期">
                            @Html.ValidationMessageFor(model => model.ACID, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="CKYM">CKYM</label>
                            <input type="text" name="CKYM" class="form-control" id="CKYM" placeholder="性質">
                            @Html.ValidationMessageFor(model => model.CKYM, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>PSID</label>
                            <input type="text" name="PSID" class="form-control" id="PSID" placeholder="支票號碼">
                            @Html.ValidationMessageFor(model => model.PSID, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>TPID</label>
                            <input type="text" name="TPID" class="form-control" id="TPID" placeholder="支票號碼">
                            @Html.ValidationMessageFor(model => model.TPID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            @*voucher Body*@
            <div id="ac8032-vb">
                <div class="row">
                    <div class="form-inline">
                        <div class="form-group lb-field-acid">
                            <label>科目</label>
                        </div>

                        <div class="form-group lb-field-acidname">
                            <label>名稱</label>
                        </div>

                        <div class="form-group lb-field-sbid">
                            <label>性質</label>
                        </div>

                        <div class="form-group lb-field-sbidname">
                            <label>名稱</label>
                        </div>

                        <div class="form-group lb-field-sqno">
                            <label>序號</label>
                        </div>

                        <div class="form-group lb-field-itid">
                            <label>細目</label>
                        </div>

                        <div class="form-group lb-field-itidname">
                            <label>名稱</label>
                        </div>

                        <div class="form-group lb-field-note">
                            <label>備註</label>
                        </div>

                        <div class="form-group lb-field-damt">
                            <label>借方金額</label>
                        </div>

                        <div class="form-group lb-field-camt">
                            <label>貸方金額</label>
                        </div>
                        <br />
                        @for (int cnt = 0; cnt < 6; cnt++)
                {
                    <div class="form-group left-col">
                        <input type="text" class="field-acid" name="@(string.Format("ACHDList[{0}].ACID",cnt))" value="" />
                    </div>
                    <div class="form-group middle-col">
                        <input type="text" class="field-acidname" name="@(string.Format("ACHDList[{0}].ACID_NAME",cnt))" value="" />
                    </div>
                    <div class="form-group middle-col">
                        <input type="text" class="field-sbid" name="@(string.Format("ACHDList[{0}].SBID",cnt))" value="" />
                    </div>
                    <div class="form-group middle-col">
                        <input type="text" class="field-sbidname" name="@(string.Format("ACHDList[{0}].SBID_NAME",cnt))" value="" />
                    </div>
                    <div class="form-group middle-col">
                        <input type="text" class="field-sqno" name="@(string.Format("ACHDList[{0}].SQNO",cnt))" value="" />
                    </div>
                    <div class="form-group middle-col">
                        <input type="text" class="field-itid" name="@(string.Format("ACHDList[{0}].ITID",cnt))" value="" />
                    </div>
                    <div class="form-group middle-col">
                        <input type="text" class="field-itidname" name="@(string.Format("ACHDList[{0}].ITID_NAME",cnt))" value="" />
                    </div>
                    <div class="form-group middle-col">
                        <input type="text" class="field-note" name="@(string.Format("ACHDList[{0}].NOTE",cnt))" value="" />
                    </div>
                    <div class="form-group middle-col">
                        <input type="text" class="field-damt" name="@(string.Format("ACHDList[{0}].DAMT",cnt))" value="" />
                    </div>
                    <div class="form-group right-col">
                        <input type="text" class="field-camt" name="@(string.Format("ACHDList[{0}].CAMT",cnt))" value="" />
                    </div>
                    <br />
        }
                    </div>
                </div>
            </div>

            @*voucher BJ*@
            <div id="ac8032-bj">
                <div class="row">
                    <div class="form-inline">

                        <div class="form-group lb-field-pjid">
                            <label>計畫編號</label>
                        </div>

                        <div class="form-group lb-field-pjsq">
                            <label>序號</label>
                        </div>

                        <div class="form-group lb-field-damt">
                            <label>借方金額</label>
                        </div>
                        <div class="form-group lb-field-camt">
                            <label>貸方金額</label>
                        </div>

                        <div class="form-group lb-field-ivam">
                            <label>未稅金額</label>
                        </div>

                        <div class="form-group lb-field-ivid">
                            <label>部門/發票號碼</label>
                        </div>

                        <br />
                        @for (int cnt = 0; cnt < 6; cnt++)
                {
                    <div class="form-group left-col">
                        <input type="text" class="field-pjid" name="@(string.Format("ACBJList[{0}].ACID",cnt))" value="" />
                    </div>
                    <div class="form-group middle-col">
                        <input type="text" class="field-pjsq" name="@(string.Format("ACBJList[{0}].ACID_NAME",cnt))" value="" />
                    </div>
                    <div class="form-group middle-col">
                        <input type="text" class="field-damt" name="@(string.Format("ACBJList[{0}].SBID",cnt))" value="" />
                    </div>
                    <div class="form-group middle-col">
                        <input type="text" class="field-camt" name="@(string.Format("ACBJList[{0}].SBID_NAME",cnt))" value="" />
                    </div>
                    <div class="form-group middle-col">
                        <input type="text" class="field-ivam" name="@(string.Format("ACBJList[{0}].IVAM",cnt))" value="" />
                    </div>
                    <div class="form-group middle-col">
                        <input type="text" class="field-ivid" name="@(string.Format("ACBJList[{0}].IVID",cnt))" value="" />
                    </div>

                    <br />
        }
                    </div>
                </div>
            </div>
        </div>
        <br/>

        @*action command panel*@
        <div id="act">
            <div class="col-md-12">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

        @for (int i = 1; i <= 9; i++)
        {
            <br />
        }
    </div>
}

@*SCRIPT*@
<script type="text/javascript">
    $(document).ready(function () {
        jQuery('#ac8032-vh [name=SBID]').focusout(function () {
            //alert('focusout');
            //TODO...
            //jQuery.get('')
            jQuery('#ac8032-vh #SBID-chName').val('郵政劃撥帳戶');
        });
    });
</script>